KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=

KERNEL_ARCH_OBJS:=\
$(ARCHDIR)/asm/boot.o \
$(ARCHDIR)/asm/gdt.o \
$(ARCHDIR)/asm/irq.o \
$(ARCHDIR)/asm/isr.o \
$(ARCHDIR)/flags.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/iobus.o \
$(ARCHDIR)/irq.o \
$(ARCHDIR)/keyboard.o \
$(ARCHDIR)/regs.o \
$(ARCHDIR)/timer.o \
$(ARCHDIR)/tty.o \
